div
  ul.collection
    li.collection-item Current rank is: <b>1</b>
    li.collection-item Next rank <b>2</b> achived by <b>{{data[0]}}% </b>
    li.collection-item Points to the next rank: <b>230pts</b>
  canvas#progress