@reuqire('nib')

@import('../../../../../../styles/parts/variables')

 ul.collection
   color: grey-darken-4
   background-color: blue-grey-lighten-5
   
   li.collection-item
     b
       font-weight: bold
       font-size: 1.1rem
       padding: 4px
       background-color: grey-darken-4
       color: grey-lighten-5
       border-radius: 3px

canvas#progress
  padding: 20px
  background-color: blue-grey-lighten-4