@require 'nib'

@import '../../../../../styles/parts/variables'

.word-letters
  margin-top: 12px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  flex-wrap: wrap
  flex-basis: 0
  padding: 12px
  background-color: rgba(black, 0.7)
  border-radius: 5px
  min-height: 82px
  
  // Letter of the word
  button
    margin: 2px
    background-color: blue-grey-darken-4
    color: blue-grey-lighten-5
    font-weight: bold
    
    &:hover
      background-color: blue-grey
      transform: scale(1.08)