@reuqire('nib')

.container
  width: 100%
  margin-top: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  
  user-details
    width: 25vw
    min-width: 280px
    margin-right: 10px

  user-info
    width: 65vw
    min-width: 380px
