<div class="word-card">
  <div class="card hoverable">

    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ word.image }}" alt="No Image"/>
    </div>

    <div class="card-content">
      <div class="progress">
        <div
          class="determinate"
          [style.width]="currentWordIndex / amountOfWords * 100 + '%'">
        </div>
      </div>
    </div>

    <div class="card-reveal white-text">
      <span class="card-title">
        Hint
        <i class="material-icons right">close</i>
      </span>
      <p>{{ word.hint }}</p>
    </div>

    <div class="card-action">

      <span class="btn-floating waves-effect waves-dark">
        <b>{{word.letters.length}}</b>
      </span>

      <span class="btn-floating btn-large waves-effect waves-dark">
        <b>{{ currentWordIndex + '/' + amountOfWords }}</b>
      </span>

      <button class="activator btn-floating waves-effect waves-dark">
          <i class="material-icons">help</i>
      </button>
      
    </div>

  </div>
</div>