table.bordered.highlight.hoverable
  caption Leaderboards Top-100
  thead
    tr
      th(data-field="position") N 
      th(data-field="icon") Icon
      th(data-field="name") Name
      th(data-field="score") Score
      th(data-field="rank") Rank
  tbody
    tr(*ngFor="let leader of leaders; let i = index")
      td.position {{i + 1}} 
      td.icon: img(src="{{leader.icon}}")
      td.name {{leader.name}}
      td.score {{leader.score}}
      td.rank {{leader.RankId}}