@import '../../../../variables';

.chat-area {
  
  ul.collection {
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
    border-radius: 3px;
    height: 60vh;
    background-color: $blue-grey-lighten-4;
     
    li {
      background-color: $blue-grey-lighten-5;
      
      span {
        font-weight: bold;
      }
      
      // Points
      a.secondary-content {
        span {
          color: teal;
        }
      }
    }
  }
}

// Hide scrollbar with still enable scrolling
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}