<form>

  <div class="title">
    <i class="material-icons medium">account_circle</i>
    <span>SIGN IN</span>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <input
      class="email validate"
      type="email"
      required="required"/>
    <label
      class="email"
      for="email"
      data-error="Email is invalid">
        Your email
    </label>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <input
      class="password validate"
      type="password"
      pattern=".{6,30}"
      required="required"/>
    <label
      class="password"
      for="password"
      data-error="Password is invalid">
        Your password
    </label>
  </div>

  <div class="signup-suggestion">
    Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
  </div>

  <button class="login btn-large waves-effect waves-light hoverable">
    <i class="material-icons left">check_circle</i>
    <span>Sign In</span>
  </button>

</form>