<form #signInForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="title">
    <i class="material-icons medium">account_circle</i>
    <span>SIGN IN</span>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">account_box</i>
    <input
      class="username validate"
      type="text"
      pattern="(\w|_|-|\.){4,20}"
      name="username"
      required="required"
      #usernameInput="ngModel"
      [ngClass]="usernameValidity"
      [(ngModel)]="signInRequest.username" />
    <label
      class="username"
      for="username"
      [attr.data-error]="usernameErrorMessage">
        Your username
    </label>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <input
      class="password validate"
      type="password"
      pattern=".{6,30}"
      required="required"
      name="password"
      #passwordInput="ngModel"
      [ngClass]="passwordValidity"
      [(ngModel)]="signInRequest.password" />
    <label
      class="password"
      for="password"
      [attr.data-error]="passwordErrorMessage">
        Your password
    </label>
  </div>

  <div class="signup-suggestion">
    Don't have an account? <a [routerLink]="['/signup']">Sign Up</a>
  </div>

  <button
    [disabled]="!signInForm.form.valid"
    type="submit"
    class="login btn-large waves-effect waves-light hoverable">
      <i class="material-icons left">check_circle</i>
      <span>Sign In</span>
  </button>

</form>