doctype html

.word-inputs
  //- Backspace button
  button.btn-floating.btn-large.hoverable.waves-effect.waves-dark('(click)'="deleteLastLetter()")
    i.material-icons backspace

  //- Word input field 
  input#word.validate(#letters '(keyup)'="enterLetter(letters.value)" '(keyup.enter)'="sendMessage()" value="{{word}}" placeholder="Enter word here" type="text" required)
  
  //- Send button
  button.btn-floating.btn-large.hoverable.waves-effect.waves-dark('(click)'="sendMessage()")
    i.material-icons send
