.word-inputs
  //- Backspace button
  button.btn-floating.btn-large.hoverable.waves-effect.waves-dark
    i.material-icons backspace

  //- Word input field 
  input#word.validate(placeholder="Enter word here" type="text" required)
  
  //- Send button
  button.btn-floating.btn-large.hoverable.waves-effect.waves-dark
    i.material-icons send
