<div class="box">

  <div class="content">
    <wk-word-card
      [word]="word"
      [currentWordIndex]="wordCounter">
    </wk-word-card>

    <wk-chat-area></wk-chat-area>

    <wk-user-list [users]="users"></wk-user-list>
  </div>

  <div class="word-controls">

    <wk-word-letters
      [letters]="letters"
      (letterClicked)="onLetterClicked($event)">
    </wk-word-letters>

    <wk-word-inputs
      [word]="typedWord"
      (wordEntered)="onWordEntered($event)">
    </wk-word-inputs>

  </div>
</div>