@import '../../../variables';

.box {
  width: 100%;
  max-width: 1480px;
  margin: 8px auto;
  height: calc(100% - 128px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  flex-basis: 0;
  padding: 5px;

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;

    wk-word-card, wk-chat-area, wk-user-list {
      flex-grow: 1;
      flex-basis: 0;
      margin: 5px;
    }
    wk-word-card {
      flex-grow: 0.75;
    }
    wk-chat-area {
      flex-grow: 1.5;
    }
    wk-user-list {
      margin-top: 12px;
      height: 60vh;
      flex-grow: 0.75;
    }
    wk-chat-area > .chat-area, .users > ul.collection {
      height: 400px;
    }

    @media only screen and (max-width : 768px) {
      wk-user-list {
        display: none;
      }
      wk-word-card {
        flex-grow: 1;
      }
      wk-chat-area {
        flex-grow: 1;
      }
    }

    @media only screen and (max-width : 480px) {
      wk-chat-area {
        display: none;
      }
      wk-word-card {
        flex-grow: 1;
      }
    }
  }

  .word-controls {
    width: 100%;
    wk-word-letters {
      margin-top: 100px;
    }
    wk-word-inputs {
      margin-top: 100px;
    }
  }

  .offline-warning {
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);

    p {
      position: relative;
      top: 50%;
      transform: translateY(-100%);
      color: $blue-grey-lighten-5;
      text-align: center;
      font-size: 2.5rem;
      text-shadow: 1px 1px 1px black;
      .small {
        font-size: 1.8rem;
      }
    }
  }

}
