<div class="box">

  <div class="content">
    <wk-word-card
      [word]="word"
      [currentWordIndex]="wordCounter">
    </wk-word-card>

    <wk-chat-area></wk-chat-area>

    <wk-user-list [users]="users"></wk-user-list>
  </div>

  <div class="word-controls">

    <wk-word-letters
      [letters]="letters"
      (letterClicked)="onLetterClicked($event)">
    </wk-word-letters>

    <wk-word-inputs
      [word]="typedWord"
      (wordEntered)="onWordEntered($event)">
    </wk-word-inputs>

  </div>

  <div *ngIf="!isOnline" class="offline-warning">
    <p>
      <span>Unable to connect to the Internet</span>
      <br />
      <i class="material-icons large">signal_wifi_off</i>
      <br />
      <span class="small">Check your network connection</span>
    </p>
  </div>
</div>