.card.sticky-action.hoverable
  .card-image.waves-effect.waves-block.waves-light
    img.activator(src="{{user.icon}}")
  .card-content
    //- Username
    .card-title.activator
      span.username {{user.name}}
      //- Score
      span.score {{user.score}}pts
      //- Rank
      span.rank {{user.RankId}} 
      i.material-icons.right more_vert
  .card-action
    //- Username
    .input-field
      i.material-icons.prefix account_circle
      input#username.validate(value="{{user.name}}" type="text" required)
      label.active(for="username") Username
    //- Email
    .input-field
      i.material-icons.prefix email 
      input#email.validate(value="{{user.email}}" type="email" required)
      label.active(for="email") Email
    //- Password
    .input-field
      i.material-icons.prefix vpn_key 
      input#password.validate(value="{{user.name}}" type="password" required)
      label.active(for="password") Password 
    button.btn-large.waves-effect.waves-light
      span Save
      i.material-icons.left save
  //- Icon Uploader
  .card-reveal
    .card-title Icon 
      i.material-icons.right close
    form
      .file-field.input-field
        button.btn-large.waves-effect.waves-light
          span File
          i.material-icons.left attach_file
          input(type="file")
        div.file-path-wrapper
          input.file-path.validate(type="text" placeholder="Choose file to upload")
        p Note: Accepts only files with size up to 1mb 
        button.btn-large.waves-effect.waves-light
          span Upload
          i.material-icons.left file_upload
