.chat-area.hoverable
  //- Messages Area
  ul.collection
    //- Message 
    li(*ngFor="let message of messages").collection-item.avatar
      //- User icond
      img.circle(src="{{message.user.icon}}" alt="No avatar")
      //- User name 
      span.title {{message.user.name}}
      //- Message
      p {{message.value}} 
      //- Points
      span.secondary-content
        span +{{message.points}}
