.box
  
  ul.collection
    li.collection-item Total maches played: <b>5</b>
    li.collection-item Win rate <b>20% (1)</b>

  table.bordered.striped.centered.hoverable
    thead
      tr
        th(data-field="id") Id 
        th(data-field="start") Start Time
        th(data-field="end") End Time
        th(data-field="position") Position
        th(data-field="users") Total Users
        th(data-field="words") Total Words
        th(data-field="score") Total Score

    tbody
      tr(*ngFor="let match of matches")
        td {{match.id}}
        td {{match.startTime}}
        td {{match.endTime}}
        td {{match.position}}
        td {{match.totalUsers}}
        td {{match.totalWords}}
        td {{match.totalScore}}

  ul.pagination
    li.waves-effect.waves-light: a: i.material-icons chevron_left
    li.active.waves-effect.waves-dark: a(href="#") 1
    li.waves-effect.waves-light: a 2
    li.waves-effect.waves-light: a 3
    li.waves-effect.waves-light: a skip 5
    li.waves-effect.waves-light: a: i.material-icons chevron_right