<form #signUpForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="title">
    <i class="material-icons medium">group_add</i>
    <span>SIGN UP</span>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <input
      class="email validate"
      type="email"
      pattern="^\S+@\S+$"
      name="email"
      required="required"
      #emailInput="ngModel"
      [ngClass]="emailValidity"
      [(ngModel)]="signUpRequest.email" />
    <label
      class="email"
      for="email"
      [attr.data-error]="emailErrorMessage">
        Your email
    </label>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">account_box</i>
    <input
      class="username validate"
      type="text"
      pattern="(\w|_|-|\.){4,20}"
      name="username"
      required="required"
      #usernameInput="ngModel"
      [ngClass]="usernameValidity"
      [(ngModel)]="signUpRequest.username" />
    <label
      class="username"
      for="username"
      [attr.data-error]="usernameErrorMessage">
        Your username
    </label>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <input
      class="password validate"
      type="password"
      pattern=".{6,30}"
      required="required"
      name="password"
      #passwordInput="ngModel"
      [ngClass]="passwordValidity"
      [(ngModel)]="signUpRequest.password" />
    <label
      class="password"
      for="password"
      [attr.data-error]="passwordErrorMessage">
        Your password
    </label>
  </div>

  <div class="signup-suggestion">
    Already have an account? <a [routerLink]="['/signin']">Sign In</a>
  </div>

  <button
    [disabled]="!signUpForm.form.valid"
    type="submit"
    class="signup btn-large waves-effect waves-light hoverable">
    <i class="material-icons left">check_circle</i>
    <span>Sign Up</span>
  </button>

</form>