@import '../../../../variables';

.word-inputs {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 0;
  
  // Word input field 
  input#word {
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
  }
  
  // Send and backspace buttons
  button {
    margin: 2px;
    background-color: $grey-darken-4;
    color: $grey-lighten-5;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: $grey-lighten-5;
      transform: scale(1.03);
      i {
        color: $grey-darken-4;
      }
    }
  }
}
