<div class="word-inputs">

  <button
    class="btn-floating btn-large hoverable waves-effect waves-dark"
    (click)="onLastLetterDrop()">
      <i class="material-icons">backspace</i>
  </button>

  <input
    id="word"
    class="validate"
    #letters
    (keyup)="onLetterPressed(letters.value)"
    (keyup.enter)="onMessageSent()"
    [value]="word"
    placeholder="Enter word here"
    type="text"
    required="true"
    autofocus="true" />

  <button
    class="btn-floating btn-large hoverable waves-effect waves-dark"
    (click)="onMessageSent()">
      <i class="material-icons">send</i>
  </button>

</div>