<nav class="nav-wrapper hoverable">
  
  <!-- Dropdown menu -->
  <ul id='exit' class='dropdown-content'>
    <li>
      <a href="/" class="waves-effect waves-light">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a (click)="onSignOut()" class="waves-effect waves-light">
        <i class="material-icons">power_settings_new</i>
        <span>Sign Out</span>
      </a>
    </li>
  </ul>

  <!-- Mobile Menu -->
  <ul class="side-nav" id="menu-mobile">

    <div class="user-info" *ngIf="isAuthorized()" [routerLink]="['account']">
      <li>
        <div class="userView">
          <div class="user-image">
            <img class="circle" [src]="user?.icon" />
          </div>
          <div class="username">
            <span class="white-text name">{{ user?.name }}</span>
          </div>
        </div>
      </li>
      <li>
        <div class="divider grey darken-4"></div>
      </li>
    </div>

    <li>
      <a class="waves-effect waves-light"
        [routerLink]="['chat']"
        routerLinkActive="mobile-router-link-active">
          <span>Chat</span>
          <i class="material-icons">chat</i>
      </a>
    </li>

    <li>
      <a class="waves-effect waves-light"
        [routerLink]="['leaderboards']"
        routerLinkActive="mobile-router-link-active">
          <span>Leaderboards</span>
          <i class="material-icons">list</i>
      </a>
    </li>

    <li>
      <a class="waves-effect waves-light"
        [routerLink]="['account']"
        routerLinkActive="mobile-router-link-active">
          <span>{{ isAuthorized() ? 'Account' : 'Authorize' }}</span>
          <i class="material-icons">account_box</i>
      </a>
    </li>

    <li *ngIf="!isAuthorized()">
      <a class="waves-effect waves-light" href="/" >
        <span>Home</span>
        <i class="material-icons">home</i>
      </a>
    </li>

    <li *ngIf="isAuthorized()">
      <a class='dropdown-button waves-effect waves-light'
        data-position="right"
        data-activates='exit'>
          <i class="material-icons">home</i>
          <span>Exit</span>
      </a>
    </li>

  </ul>

  <div class="side-nav" id="activities-mobile">
    <wk-user-list [users]="users"></wk-user-list>
    <wk-chat-area></wk-chat-area>
  </div>

  <ul class="mobile">

    <a class="brand-logo right" href="/">
      <img src="assets/images/logo.svg" alt="Logo" />
    </a>

    <a class="button-collapse waves-effect waves-light"
      href="#menu-mobile"
      data-activates="menu-mobile">
        <i class="material-icons">menu</i>
    </a>

    <a class="button-collapse waves-effect waves-light"
      href="#activities-mobile"
      data-activates="activities-mobile">
        <i class="material-icons">more_horiz</i>
    </a>

  </ul>

  <a class="brand-logo center" href="/">
    <img src="assets/images/logo.svg" alt="Logo" />
  </a>

  <ul class="navigation-tabs right">
    <li class="waves-effect waves-light">
      <a class="tooltipped"
        [routerLink]="['chat']"
        routerLinkActive="router-link-active"
        data-position="bottom"
        data-delay="50"
        data-tooltip="Go to Chat">
          <i class="material-icons">chat</i>
      </a>
    </li>

    <li class="waves-effect waves-light">
      <a class="tooltipped"
        [routerLink]="['leaderboards']"
        routerLinkActive="router-link-active"
        data-position="bottom"
        data-delay="50"
        data-tooltip="See leaderboards">
          <i class="material-icons">list</i>
      </a>
    </li>

    <li class="waves-effect waves-light">
      <a class="tooltipped"
        [routerLink]="['account']"
        routerLinkActive="router-link-active"
        data-position="bottom"
        data-delay="50"
        [attr.data-tooltip]=" isAuthorized() ? 'Edit account' : 'Authorize' ">
          <i class="material-icons">account_box</i>
      </a>
    </li>

    <li class="waves-effect waves-light">
      <a class="tooltipped"
        href="/"
        data-position="bottom"
        data-delay="50"
        data-tooltip="Back to home page">
          <i class="material-icons">home</i>
      </a>
    </li>
  </ul>
  
</nav>