@import '../../../variables';

// Navigation
nav.nav-wrapper {
  height: 64px;
  background-color: $grey-darken-4;
  
  // Mobile buttons
  ul.mobile {
    a.button-collapse {
      font-size: 1rem;
      margin: 0;
      height: 64px;
      &:hover {
        background-color: black;
        border-bottom: 3px solid white;
        transition: none;
      }
    }
  }
  
  // Mobile sidenav
  ul#menu-mobile, #users-mobile {
    background-color: $grey-darken-4;
    background-image: url($bg-img);
    a {
      text-transform: uppercase;
      i {
        color: white;
      }
    }
  }

  #users-mobile >>> ul.collection {
    height: 100vh;
    margin: 0;
  }

  // Menu mobile
  ul#menu-mobile {
    li > a {
      width: 100%;
      &:hover {
        border-left: 3px solid $grey-lighten-5;
        background-color: black;
        transition: all 0.1s ease-in-out;
        span {
          font-size: 1.3rem;
        }
      }
      span {
        color: $grey-lighten-5;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }

  // Logo
  a.brand-logo {
    img {
      width: 180px;
      padding-top: 14px;
      margin-right: 20px
    }
  }
  
  // Navitaion tabs 
  ul.navigation-tabs.right {
    height: 100%;

    li {
      height: 100%;
      
      a {
        height: 100%;
        &:hover {
          border-bottom: 3px solid white;
          background-color: black;
        }
      }
    }
  }
}

.router-link-active {
  border-bottom: 3px solid white;
  background-color: black;
}

.mobile-router-link-active {
  border-left: 3px solid $grey-lighten-5;
  background-color: black;
}

// Drops navigation tabs on the right
@media only screen and (max-width : 768px) {
  ul.navigation-tabs {
    display: none;
  }
}

// Drop brand-logo on the center
@media only screen and (max-width : 480px) {
  nav > a.brand-logo {
    display: none;
  }
}

// Drops mobile buttons
@media only screen and (min-width : 768px) {
  ul.mobile {
    display: none;
  }
}

// Drops brand logo on the right
@media only screen and (min-width : 480px) {
  ul.mobile {
    a.brand-logo {
      display: none;
    }
  }
}
