@require('nib')

@import('./variables')

// Blog Posts
.blog-posts
  margin: 50px 16px 0 16px

  .post
    margin-bottom: 16px
    border: 1px solid grey
    border-radius: 3px
    padding: 0
    background-image: url(posts-bg-img)
    position: relative
    color: grey-darken-3
    
    div
      font-size: 1.6rem
      color: grey-lighten-3
      text-shadow: 1px 1px 2px black
      padding: 5px
      margin: 8px 0
      background-color: grey-darken-4

    img, p
      height: 150px
    
    img
      border-radius: 50%
      width: 150px
      border: 2px solid grey-darken-3
      transition: transform 0.1s ease-out
      &:hover
        cursor: pointer
        transform: scale(1.03)
        transition: transform 0.1s ease-out

    p
      margin: 8px
      font-size: 11pt
      background-color: rgba(grey-lighten-4, 0.8)
      text-align: justify

    button.btn
      margin: 8px 0 16px 0
      color: white
      background-color: grey-darken-3
      transition: all 0.3s ease-out
      &:hover
        color: grey-darken-3
        background-color: grey-lighten-4
        font-weight: bold
        transition: all 0.3s ease-out

  .post:nth-child(1)
    transform: translate(100px, 20px)
    opacity: 0

  .post:nth-child(2)
    z-index: 2
    opacity: 0

  .post:nth-child(3)
    transform: translate(-100px, 20px)
    opacity: 0

  @media all and (max-width: 600px)
    margin-left: 15%
    margin-right: 15%