// Blog Posts
.blog-posts
  margin-top: 50px

  .post
    border: 1px solid grey
    border-radius: 3px
    padding: 10px 20px
    background-image: url(posts-bg-img)
    position: relative
    color: grey-darken-3
    
    span
      font-size: 1.6rem
      color: grey-lighten-3
      text-shadow: 1px 1px 2px black
      border-radius: 10px
      padding: 0 5px
      background-color: grey-darken-3

    img, p
      border: 1px solid grey-darken-3
      height: 150px
    
    img
      border-radius: 50%
      width: 150px
      border: 2px solid grey-darken-3
      transition: transform 0.1s ease-out
      &:hover
        cursor: pointer
        transform: scale(1.03)
        transition: transform 0.1s ease-out

    p
      font-size: 11pt
      box-shadow: none
      border-radius: 3px
      background-color: rgba(grey-lighten-4, 0.8)
      text-align: justify

    a.btn
      color: white
      background-color: grey-darken-3
      &:hover
        color: grey-darken-3
        background-color: grey-lighten-4
        font-weight: bold
        box-shadow: 2px 2px 5px 3px grey-darken-3

  .post:nth-child(1)
    transform: translate(100px, 20px)
    opacity: 0

  .post:nth-child(2)
    z-index: 2
    opacity: 0

  .post:nth-child(3)
    transform: translate(-100px, 20px)
    opacity: 0