// Page footer
footer
  background-color: black
  color: white
  padding: 0 100px 0 100px
  position: fixed
  bottom: 0
  width: 100%
  
  .social-links li
    display: inline-block
    margin-right: 5px

  a
    font-weight: bold
    font-size: 16px
    color: white
    &:hover
      color: teal
    &:active
      color: violet

  #message
    padding: 0

  .btn
    color: white
    background-color: rgba(black, 0.1)
    border: 1px solid white
    border-radius: 3px
    &:hover
      background-color: transparent
      color: teal
      border: 1px solid teal
  
  ul.social-links
    margin: 5px 0 0 0
    padding: 0
    li img
      width: 48px
      height: 48px
      transition: all 0.3s ease-in-out
      filter: grayscale(0.3)
      -webkit-filter: grayscale(0.3)
      &:hover
        transform: scale(1.2)
        transition: transform 0.3s ease-in-out
        filter: none
        -webkit-filter: none

@media all and (max-width 865px)
  footer
    padding: 10px 20px 0 20px

@media all and (max-width 630px)
  footer
    padding: 10px
    a, p, strong
      font-size: 12px
    .small-footer
      margin-bottom: 0