// Main
main.content
  background-image: url(bg-img)
  margin-bottom: 200px
  overflow: hidden
  position: relative
  z-index: 2
  article
    color: grey-lighten-4
    margin: auto
    max-width: 640px
    padding: 50px 0 20px 0
    text-align: center
    h1
      color: grey-lighten-3
      weight: 300px
      text-shadow: 2px 2px 5px black
      b
        color: white
    p
      padding: 15px
      background-color: rgba(black, 0.3)
      font-size: 1.2rem
      text-align: justify
    &:nth-child(2)
      padding-top 0

@media all and (max-width: 600px)
  main.content
    margin-bottom: 40px