// Login and Signup modals
#login, #signup
  max-width: 600px
  background-color: darken-grey
  border-radius: 5px
  color: white
  box-shadow: 0 0 10px 1px white
  
  .center
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    i
      margin-right: 6px
  img
    max-width: 100% 
  
  label
    width: 90%
    
  .modal-footer
    display: flex
    justify-content: center
    margin-top: 10px
    margin-bottom: 10px
    background-color: darken-grey
    
    button
      margin-right: 6px
      display: inline-block
      background-color: dark-grey
      &:hover
        background-color: white
        color: black
        font-weight: bold