@require('nib')

// Login and Signup modals
#login
  max-height: 62%

#signup
  max-height: 76%

#login, #signup
  max-width: 600px
  background-color: grey-darken-4
  border-radius: 5px
  color: white
  box-shadow: 0 0 10px 1px white
  
  .center
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    i
      margin-right: 6px
  img
    max-width: 100% 
  
  label
    width: 90%

  .modal-footer
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 10px
    margin-bottom: 10px
    background-color: grey-darken-4
    
    #login-btn, #signup-btn, .cancel
      margin-right: 6px
      min-width: 120px
      display: inline-block
      background-color: grey-darken-3
      &:hover
        background-color: white
        color: black
        font-weight: bold

    .social
      min-width: 120px
      button.btn-floating
        margin-right: 4px
        img
          filter: grayscale(30%)
          transition: filter 0.3s ease-in-out
        &:hover
          img
            filter: grayscale(0%)
            transition: filter 0.3s ease-in-out
