// Periscope
.periscope
  width: 600px
  height: 600px
  border-radius: 50%
  box-shadow: 0 0 10px 3px black
  background-image: url(learn-words-img)
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: contain
  background-position: top center
  position: relative
  left: 50%
  margin: 50px 0 0 -300px

  .content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(black, 0.8)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

  .promo-text
    line-height: 1.2
    color: rgba(white, 0.8)
    span
      font-size: 2.8rem
      display: block
      
    italic
      font-size: 1.8rem
      font-style: italic
      color: rgba(white, 0.4)
      margin-right: 10px

    strong
      font-size: 2rem
      font-weight: bolder
      color: white

    a
      display: block
      width: 150px
      border-radius: 10px
      position: absolute
      left: 50%
      margin-left: -75px
      margin-top: 20px
      color: white
      background-color: transparent
      border: 1px solid white
      box-shadow: 0 0 1px 1px white
      &:hover
        color: black
        background-color: white
        font-weight: bold
        box-shadow: none
        
@media all and (max-width 865px)
  .periscope
    background-position: center bottom
    background-repeat: repeat-y
    width: 500px
    height: 500px
    margin-left: -250px

@media all and (max-width 630px)
  .periscope
    background-position: center bottom
    background-repeat: repeat-y
    width: 300px
    height: 300px
    margin-left: -150px