// Images 
bg-img = '../images/background.png'
logo-img = '../images/logo.svg'

header-img = '../images/header.jpg'
learn-words-img = '../images/learn-words.jpg'
posts-bg-img = '../images/mini-waves.png'

// Shadows 
white-shadow = 0 4px 3px -2px almost-white
black-shadow = 2px 1px 3px black

// Colors
almost-white = #EBEBEB
ghost-grey = #E2E2E2
lighten-grey = #9B9B9B
light-grey  = #4B4B4B
dark-grey = #2F2F2F
darken-grey = #111111
dark-gold = #E89A00