@require('nib')

// Words pictures
.pics
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-top: 20px
  margin-bottom: 0
  align-items: space-between
  justify-content: space-around

  figure
    background-color: rgba(black, 0.2)
    border-radius: 5px
    height: 250px
    margin: 20px auto
    opacity: 0
    overflow: hidden
    transform: translateX(-100px)
    transition: all 0.6s ease-in-out
    width: 30%
    min-width: 190px
    
    @media all and (max-width: 600px)
      min-width: 250px
      width: 45%

    img
      border-radius: 5px
      filter: grayscale(0.6)
      height: 75%
      margin-top: 10px
      transition: all 0.6s ease-in-out
      width: 100%

    figcaption
      padding-top: 5px
      color: white
      background-color: rgba(black, 0.8)
      border-radius: 3px
      padding: 2px
      margin-top: 6px
      font-size: 14px
      transition: all 0.3s ease-in-out
      text-transform: uppercase

    &:hover
      background-color: rgba(black, 0.6)
      transition: all .3s
      transform: scale(1.1)
      cursor: pointer

      img
        filter: none
        transform: scale(1.2)
        transition: all 0.4s ease-in-out

      figcaption
        transition: all 0.4s ease-in-out
        color: rgba(black, 0.8)
        background-color: white
        font-weight: bold
        margin-top: 17px

    &.is-showing
      opacity: 1
      transform: translateX(0)
