@import '../../../../variables';

div {
  background-color: $blue-grey-lighten-5;
  padding: 14px;
  margin: 10px;
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }

  ul.collection {
    color: $grey-darken-4;
    li.collection-item {
      b {
        font-weight: bold;
        font-size: 1.1rem;
        padding: 4px;
        background-color: $grey-darken-4;
        color: $grey-lighten-5;
        border-radius: 3px;
      }
    }
  }

  canvas#progress {
    margin: auto;
    padding: 20px;
    max-height: 505px;
    max-width: 505px;
  }
}
