.box
  //- First row
  .content
    word-card
    chat-area
    user-list
  //- Second row
  .word-controls
    word-letters('[letters]'="letters" '(letterClicked)'="onLetterClicked($event)")
    word-inputs('[word]'="typedWord" '(wordEntered)'="onWordEntered($event)")