// Hide scrollbar but still enable scrolling
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


// Fixing bug with shadow glitch in latest chrome version
// should be removed soon... I hope )
.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
}

