// Colors
$blue-grey-lighten-5 : #ECEFF1;
$blue-grey-lighten-4 : #CFD8DC;
$blue-grey : #607D8B;
$blue-grey-darken-3 : #37474F;
$blue-grey-darken-4 : #263238;

$grey-lighten-5 : #FAFAFA;
$grey-lighten-4 : #F5F5F5;
$grey-lighten-3 : #EEEEEE;
$grey-lighten-2 : #E0E0E0;
$grey-lighten-1 : #BDBDBD;
$grey-darken-3 : #757575;
$grey-darken-2 : #616161;
$grey-darken-3 : #424242;
$grey-darken-4 : #212121;

$teal : #009688;
$dark-gold : #E89A00;

// Images 
$bg-img : '/assets/images/background.png';
$logo-img : '/assets/images/logo.svg';

$header-img : '/assets/images/header.jpg';
$learn-words-img : '/assets/images/learn-words.jpg';
$posts-bg-img : '/assets/images/mini-waves.png';

// Shadows 
$white-shadow : 0 4px 3px -2px $grey-lighten-4;
$black-shadow : 2px 1px 3px black;
