ul.collapsible.popout.hoverable(data-collapsible="accordion")
  li
    .collapsible-header.active
      i.material-icons pie_chart 
      span Progress
    .collapsible-body
      user-progress

  li
    .collapsible-header
      i.material-icons history
      span Recent Matches
    .collapsible-body
      div
        p Lorem ipsum dolor sit amet.

  li
    .collapsible-header
      i.material-icons view_list
      span Dictionary 
    .collapsible-body
      user-dictionary