@require('nib')

@import('../../../../../styles/parts/variables')

ul.collapsible
  width: 100%
  color: blue-grey-lighten-5
  
  li
    
    .collapsible-header
      background-color: bule-grey-darken-4
      
    .collapsible-body
      min-height: 75vh
      background-color: bule-grey-darken-3
      overflow: hidden