<ul class="collapsible popout hoverable" data-collapsible="accordion">

  <li>
    <div class="collapsible-header active">
      <i class="material-icons">pie_chart </i>
      <span>Progress</span>
    </div>
    <div class="collapsible-body">
      <user-progress></user-progress>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">history</i>
      <span>Recent Matches</span>
    </div>
    <div class="collapsible-body">
      <user-matches></user-matches>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">view_list</i>
      <span>Dictionary </span>
    </div>
    <div class="collapsible-body">
      <user-dictionary></user-dictionary>
    </div>
  </li>

</ul>