doctype html
html
	head
		title 404 Page Not Found
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="theme-color", content="#212121")
		meta(name="mobile-web-app-capable", content="yes")
		
		link(rel="shortcut icon" type="image/png" href="images/favicon.png")
		link(rel="stylesheet", href="styles/error-404.css")
		link(rel="stylesheet" href="vendor/materialize-css/dist/css/materialize.min.css")
	body
		.box

			.message
				.content
					h1.message-head Opps! We couldn't find what you were looking for.

					p The page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist. Do you want to back to the home page?

					a.btn.btn-large.hoverable(href='/') Home

			.letters
				table
					tr
						td A
						td B
						td C
						td D
						td E
						td F
						td G
					tr
						td H
						td I
						td.info 4
						td.info 0
						td.info 4
						td J
						td K
					tr
						td L
						td M
						td N
						td O
						td P
						td Q
						td R
					tr
						td S
						td T
						td.info P
						td.info A
						td.info G
						td.info E
						td U
					tr
						td V
						td W
						td X
						td Y
						td Z
						td -
						td A
					tr
						td B
						td C
						td D
						td.info N
						td.info O
						td.info T
						td E
					tr
						td F
						td G
						td H
						td I
						td J
						td K
						td I
					tr
						td L
						td.info F
						td.info O
						td.info U
						td.info N
						td.info D
						td M
					tr
						td N
						td O
						td P
						td Q
						td R
						td S
						td T