doctype html
html(lang="en")
  head
    title Word Kombat - English words learning platform
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="English words learning platform")
    meta(name="keywords" content="words, english, learning, word, chat, game, interactive")
    meta(name="author" content="Saka7")
    
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="shortcut icon" type="image/png" href="images/favicon.png")
    link(rel="stylesheet", href="styles/vendor/materialize.min.css")
    link(rel="stylesheet", href="styles/home.css")

  body
    
    nav
      ul.nav-wrapper.right
        li#chat.btn.waves-effect.waves-dark
          a(href="/chat") Chat

        li.btn.waves-effect.waves-dark
          a.modal-trigger(href="#signup") Signup
        
        li.btn.waves-effect.waves-dark
          a.modal-trigger(href="#login") Login

    #signup.modal
      form.modal-content

        .center
          i.material-icons.medium group_add
          span SIGN UP

        .input-field
          i.material-icons.prefix email
          input.email.validate(type="email" required)
          label(for="email") Enter your email

        .input-field
          i.material-icons.prefix account_box
          input.username.validate(type="text" required)
          label(for="username") Enter your username

        .input-field
          i.material-icons.prefix vpn_key
          input.password(type="password" required)
          label(for="password") Enter your password
        
        .modal-footer
          button.cancel.btn-large.waves-effect.waves-dark
            i.material-icons.left cancel
            span.hide-on-small-only Cancel

          button#signup-btn.btn-large.waves-effect.waves-dark(type="submit")
            i.material-icons.left check_circle
            span.hide-on-small-only Sign Up

          button.btn-floating.btn-large.waves-effect.waves-dark.tooltipped(data-position="bottom" 
          data-delay="50" data-tooltip="Sign up with google+")
            img(src="images/icons/google-plus-standart.png")

          button.btn-floating.btn-large.waves-effect.waves-dark.tooltipped(data-position="bottom" 
          data-delay="50" data-tooltip="Sign up with facebook")
            img(src="images/icons/facebook-standart.png")

    #login.modal
      form.modal-content

        .center
          i.material-icons.medium account_circle
          span LOG IN

        .input-field
          i.material-icons.prefix account_box
          input.username.validate(type="text" required)
          label(for="username") Enter your email or username 

        .input-field
          i.material-icons.prefix vpn_key
          input.password.validate(type="password" required)
          label(for="password") Enter your password

        .modal-footer
          button.cancel.btn-large.waves-effect.waves-dark
            i.material-icons.left cancel
            span.hide-on-small-only Cancel

          button#login-btn.btn-large.waves-effect.waves-dark(type="submit")
            i.material-icons.left check_circle
            span.hide-on-small-only Log In

          button.btn-floating.btn-large.waves-effect.waves-dark.tooltipped(data-position="bottom" 
          data-delay="50" data-tooltip="Log in with google+")
            img(src="images/icons/google-plus-standart.png")

          button.btn-floating.btn-large.waves-effect.waves-dark.tooltipped(data-position="bottom" 
          data-delay="50" data-tooltip="Log in with facebook")
            img(src="images/icons/facebook-standart.png")

    section.content
      header.box
        .logo
        button.scroll-button.btn.btn-floating.waves-effect.waves-dark
          i.material-icons keyboard_arrow_down

      section.articles
        article
        
          h1 <b>Learn</b> all commonly used <b>word</b> in <b>simple</b> and <b>fun</b> way
          hr
          p
            |How many words do you need to know in English? This is a very common question and it varies depending on your goal.
            |Studies have shown - a person with a vocabulary size of <b>3000 passive</b> word-families and <b>2000 active</b> word-families can speak a language fluently.
            |Our application contains <b>3000</b> commonly used English words which helps you become <b>fluent  speaker</b>.

          hr

          .pics
            .row.img-row
              figure.hoverable.col.s6.m4
                img(src="images/words/people.png")
                figcaption  People

              figure.hoverable.col.s6.m4
                img(src="images/words/different.jpg")
                figcaption  Different

              figure.hoverable.col.s6.m4
                img(src="images/words/many.jpg")
                figcaption  Many

              figure.hoverable.col.s6.m4
                img(src="images/words/time.jpg")
                figcaption  Time

              figure.hoverable.col.s6.m4
                img(src="images/words/water.jpg")
                figcaption  Water

              figure.hoverable.col.s6.m4
                img(src="images/words/work.jpg")
                figcaption  Work
        
        article
        
          h1 <b>No</b> more <b>boring</b> memorization
          hr
          p
            |Your brain always searching, scanning, waiting for something unusual. It was built that way, and it helps you stay alive. So what does your brain do with all the routine, ordinary, normal things you encounter? It doesn’t bother saving the boring things; they never make it past the “this is obviously not important” filter. If you really want to learn, and you want to learn more quickly and more deeply, pay attention to how you pay attention. Think about how you think. Learn how you learn
          
          hr

          .periscope
            .content
              .promo-text
                span Create an account
                italic it's
                strong FREE
                a.modal-trigger.btn(href='#signup') Join Now
        
        article
        
          h1 <b>Chat</b> and <b>Compete</b> with friends
          hr
          p
            | The study of words arranged in a fun chat game.
            | So, learning new words will be as fun and easy as chatting with friends or playing browser games.
            | And a spirit of competition will make you better remember the words to prove that you are the best player
          
          hr

          .blog-posts.row
            .post.col.s12.m4
              span  User 1 lvl 5
              img(class="hoverable" src="images/posts/man.png")
              p I could even imagine that leaning word might be so simple and fun...
              a.btn(href="#") Read More

            .post.col.s12.m4
              span  User 2 lvl 6
              img(class="hoverable" src="images/posts/man-2.jpg")
              p In one session of play I learn more words than in a day of work with the dictionary...
              a.btn(href="#") Read More

            .post.col.s12.m4
              span  User 3 lvl 4
              img(class="hoverable" src="images/posts/girl.png")
              p  It's awesome.
              a.btn(href="#") Read More
              
    footer
      .row.big-footer.hide-on-small-and-down
        .col.s6
          strong &copy; Copyrights 2016 MADE BY SAKA
          hr
          strong FOLLOW ME ON:
          ul.social-links
            li: a(href="#")
              img(src="images/icons/facebook-icon.png")

            li: a(href="https://github.com/Saka7")
              img(src="images/icons/github-icon.png")

            li: a(href="http://codepen.io/saka7/")
              img(src="images/icons/codepen-icon.png")

        .col.s6
          strong CONTACT ME
          hr
          p If you have any questions or comments feel free to leave them here
          form
            #message.col.s8
              input(type="text" placeholder="Your message")
            .col.s4
              input.btn(type="submit")

      .row.small-footer.s12.hide-on-med-and-up.center
          span &copy; Copyrights 2016 MADE BY SAKA

    script(src="scripts/vendor/jquery.min.js")
    script(src="scripts/vendor/materialize.min.js")
    script(src="scripts/home.js")