@require 'nib'

@import 'parts/error'

.box
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin: 25px 0

  .letters
    min-width: 40%
    margin: 25px

    table
      box-shadow: 1px 1px 10px 3px border-left 

      tr
        td
          border: 2px solid black
          text-align: center
          background-color: grey-darken-3
          color: grey-lighten-4
          
        td.info
          background-color: grey-lighten-4
          color: grey-darken-4
          font-weight: bold
          font-size: 20px

@media all and (max-width: 800px)
  .letters
    width: 90%