// Images 
bg-img = '../images/background.png'
logo-img = '../images/logo.svg'

header-img = '../images/header.jpg'
learn-words-img = '../images/learn-words.jpg'
posts-bg-img = '../images/mini-waves.png'

// Shadows 
white-shadow = 0 4px 3px -2px almost-white
black-shadow = 2px 1px 3px black

// Colors
almost-white = #EBEBEB
ghost-grey = #E2E2E2
lighten-grey = #9B9B9B
light-grey  = #4B4B4B
dark-grey = #2F2F2F
darken-grey = #111111
dark-gold = #E89A00

body
  transition: all 0.5s
  font-family: "Roboto", "Helvetica", sans-serif
  background-color: black

img
  max-width: 100%

nav
  position: fixed
  z-index: 3
  top: 0
  background-color: rgba(black, 0.6)

a
  color: white
  text-decoration: none
  width: 100%
  height: 100%
  font-size: 10pt
  &:hover
    color: black
    font-weight: bold

.btn
  width: 100px
  padding: 0
  font-size: 10pt
  margin-right: 5px
  margin-top: 12px
  background-color: light-grey
  &:hover
    background-color: white
    color: black
    font-weight: bold

.toast
  text-align: center
  position: fixed
  left: 50%
  margin-left: -100px

// Login and Signup modals
#login, #signup
  max-width: 600px
  background-color: darken-grey
  border-radius: 5px
  color: white
  box-shadow: 0 0 10px 1px white
  
  .center
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    i
      margin-right: 6px
  
  label
    width: 90%
    
  .modal-footer
    display: flex
    justify-content: center
    margin-top: 10px
    margin-bottom: 10px
    background-color: darken-grey
    
    button
      margin-right: 6px
      display: inline-block
      background-color: dark-grey
      &:hover
        background-color: white
        color: black
        font-weight: bold

section.content
  background-image: url(bg-img)
  margin-bottom: 200px
  overflow: hidden
  position: relative
  z-index: 2
  article
    color: almost-white
    margin: auto
    max-width: 640px
    padding: 50px 0 20px 0
    text-align: center
    h1
      color: ghost-grey
      weight: 300px
      text-shadow: 2px 2px 5px black
      b
        color: white
    p
      padding: 15px
      background-color: rgba(black, 0.3)
      font-size: 1.2rem
      text-align: justify
      box-shadow: 0 0 5px 1px black
    &:nth-child(2)
      padding-top 0

  .box
    background-attachment: fixed
    background-image: url(header-img)
    background-position: top center
    background-repeat: repeat-y
    background-size: 100%
    height: 100vh
    position: relative
    width: 100%
    overflow: hidden

    .logo
      background-image: url(logo-img)
      background-position: center
      background-repeat: no-repeat
      background-size: 70%
      height: 40vh
      margin-top: -20vh
      margin-left: 3%
      position: absolute
      top: 50%
      width: 100%
    
    .scroll-button
      width: 60px
      height 60px 
      position: fixed
      bottom: 8px
      left: 50%
      margin-left: -30px
      background-color: darken-grey
      color: white
      border: 2px solid almost-white
      &:hover
        background-color: almost-white
        transform: scale(1.1)
        i
          color: black
      i
        padding-right: 4px
        padding-top: 12px
        font-size: 3rem

.pics
  .img-row
    margin-top: 20px
    margin-bottom: 0

  figure
    background-color: rgba(black, 0.2)
    border-radius: 5px
    height: 250px
    margin: auto
    margin-bottom: 20px
    opacity: 0
    overflow: hidden
    transform: translateX(-100px)
    transition: all 0.6s ease-in-out
    width: 200px

    img
      filter: grayscale(0.8)
      border-radius: 5px
      height: 190px
      margin-top: 10px
      width: 190px
      transition: all 0.6s ease-in-out

    figcaption
      padding-top: 5px
      color: white
      background-color: rgba(black, 0.8)
      border-radius: 3px
      padding: 2px
      margin-top: 6px
      font-size: 14px
      transition: all 0.3s ease-in-out

    &:hover
      background-color: rgba(black, 0.6)
      transition: all .3s
      transform: scale(1.1)
      cursor: pointer

      img
        filter: none
        transform: scale(1.2)
        transition: all 0.4s ease-in-out

      figcaption
        transition: all 0.4s ease-in-out
        color: rgba(black, .8)
        background-color: white
        font-weight: bold
        margin-top: 17px

    &.is-showing
      opacity: 1
      transform: translateX(0)

.periscope
  width: 600px
  height: 600px
  border-radius: 50%
  box-shadow: 0 0 10px 3px black
  background-image: url(learn-words-img)
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: contain
  background-position: top center
  position: relative
  left: 50%
  margin: 50px 0 0 -300px

  .content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(black, 0.8)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

  .promo-text
    line-height: 1.2
    color: rgba(white, 0.8)
    span
      font-size: 2.8rem
      display: block
      
    italic
      font-size: 1.8rem
      font-style: italic
      color: rgba(white, 0.4)
      margin-right: 10px

    strong
      font-size: 2rem
      font-weight: bolder
      color: white

    a
      display: block
      width: 150px
      border-radius: 10px
      position: absolute
      left: 50%
      margin-left: -75px
      margin-top: 20px
      color: white
      background-color: transparent
      border: 1px solid white
      box-shadow: 0 0 1px 1px white
      &:hover
        color: black
        background-color: white
        font-weight: bold
        box-shadow: none

.blog-posts
  margin-top: 50px

  .post
    border: 1px solid grey
    border-radius: 3px
    padding: 10px 20px
    background-image: url(posts-bg-img)
    position: relative
    color: dark-grey
    
    span
      font-size: 1.6rem
      color: ghost-grey
      text-shadow: 1px 1px 2px black
      border-radius: 10px
      padding: 0 5px
      background-color: dark-grey

    img, p
      border: 1px solid light-grey
      height: 150px
    
    img
      border-radius: 50%
      width: 150px
      border: 2px solid light-grey
      transition: transform 0.1s ease-out
      &:hover
        cursor: pointer
        transform: scale(1.03)
        transition: transform 0.1s ease-out

    p
      font-size: 11pt
      box-shadow: none
      border-radius: 3px
      background-color: rgba(almost-white, 0.8)
      text-align: justify

    a.btn
      color: white
      background-color: dark-grey
      &:hover
        color: dark-grey
        background-color: almost-white
        font-weight: bold
        box-shadow: 2px 2px 5px 3px light-grey

  .post:nth-child(1)
    transform: translate(100px, 20px)
    opacity: 0

  .post:nth-child(2)
    z-index: 2
    opacity: 0

  .post:nth-child(3)
    transform: translate(-100px, 20px)
    opacity: 0

footer
  background-color: black
  color: white
  padding: 0 100px 0 100px
  position: fixed
  bottom: 0
  width: 100%
  
  .social-links li
    display: inline-block
    margin-right: 5px

  a
    font-weight: bold
    font-size: 16px
    color: white
    &:hover
      color: teal
    &:active
      color: violet

  #message
    padding: 0

  .btn
    color: white
    background-color: rgba(black, 0.1)
    border: 1px solid white
    border-radius: 3px
    &:hover
      background-color: transparent
      color: teal
      border: 1px solid teal
  
  ul.social-links
    margin: 5px 0 0 0
    padding: 0
    li img
      width: 48px
      height: 48px
      transition: all 0.3s ease-in-out
      filter: grayscale(0.3)
      -webkit-filter: grayscale(0.3)
      &:hover
        transform: scale(1.2)
        transition: transform 0.3s ease-in-out
        filter: none
        -webkit-filter: none

@media all and (max-width 1190px)
  .box
    background-color: black
    background-size: auto

@media all and (max-width 865px)
  footer
    padding: 10px 20px 0 20px

  .periscope
    background-position: center bottom
    background-repeat: repeat-y
    width: 500px
    height: 500px
    margin-left: -250px

@media all and (max-width 630px)
  section.content
    margin-bottom: 40px

  footer
    padding: 10px
    a, p, strong
      font-size: 12px
    .small-footer
      margin-bottom: 0

  .periscope
    background-position: center bottom
    background-repeat: repeat-y
    width: 300px
    height: 300px
    margin-left: -150px