@require 'nib'

@import 'parts/variables'

body
  transition: all 0.3s
  font-family: "Roboto", "Helvetica", sans-serif
  background-color: black

@import 'parts/modals'
@import 'parts/navigation'
@import 'parts/header'
@import 'parts/main'
@import 'parts/word-pictures'
@import 'parts/periscope'
@import 'parts/blog-posts'
@import 'parts/footer'

.toast
  text-align: center
  position: fixed
  left: 50%
  margin-left: -100px