//- Navigation
nav.nav-wrapper.hoverable
  
  //- Menu Sidenav
  ul#menu-mobile.side-nav
    //- Chat button
    li
      a([routerLink]="['Chat']").waves-effect.waves-light
        span Chat
        i.material-icon chat
    //- Account button
    li
      a([routerLink]="['Account']").waves-effect.waves-light
        span Account
        i.material-icons account_box
    //- Leaderboards Button
    li
      a([routerLink]="['Leaderboards']").waves-effect.waves-light
        span Leaderboards
        i.material-icons list
    //- Home Button
    li
      a(href="/" data-position="right").waves-effect.waves-light
        span Home
        i.material-icons home
  
  //- Users Sidenav
  ul#users-mobile.side-nav
    user-list('[users]'='users')
    
  //- Mobile Navbar 
  ul.mobile
    //- Mobile brand Logo
    a.brand-logo.right(href="/")
      img(src="images/logo.svg" alt="Logo")
    //- Menu Button
    a.tooltipped.button-collapse.waves-effect.waves-light(href="#menu-mobile" data-activates="menu-mobile" data-position="bottom" data-delay="50" data-tooltip="Menu")
      i.material-icons menu
    //- Users Button
    a.tooltipped.button-collapse.waves-effect.waves-light(href="#users-mobile" data-activates="users-mobile" data-position="bottom" data-delay="50" data-tooltip="Users")
      i.material-icons account_circle

  //- Brand logo
  a.brand-logo.center(href="/")
    img(src="images/logo.svg" alt="Logo")
  
  //- Navigation tabs
  ul.navigation-tabs.right
    //- Chat tab button
    li.waves-effect.waves-light
      a.tooltipped([routerLink]="['Chat']"
        data-position="bottom" data-delay="50" data-tooltip="Go to Chat")
        i.material-icons chat
    //- Leaderboards tab button
    li.waves-effect.waves-light
      a.tooltipped([routerLink]="['Leaderboards']"
        data-position="bottom" data-delay="50" data-tooltip="See leaderboards")
        i.material-icons list
    //- Account tab button
    li.waves-effect.waves-light
      a.tooltipped([routerLink]="['Account']"
         data-position="bottom" data-delay="50" data-tooltip="Edit account")
        i.material-icons account_box
    //- Home tab button
    li.waves-effect.waves-light
      a.tooltipped(href="/" data-position="bottom" data-delay="50" data-tooltip="Back to home page")
        i.material-icons home
        