@reqire 'nib'

@import '../../../../styles/parts/variables'

// Navigation
nav.nav-wrapper
  background-color: grey-darken-4
  
  // Mobile buttons
  ul.mobile
    a.button-collapse
      font-size: 1rem
      &:hover
        background-color: black
        border-bottom: 3px solid white
        transition: none
  
  // Mobile sidenav
  ul#menu-mobile, ul#users-mobile
    background-color: grey-darken-4
    background-image: url(bg-img)

  // Menu mobile
  ul#menu-mobile
    li > a
      width: 100%
      &:hover
        border-left: 3px solid grey-lighten-5
        background-color: black
        transition: all 0.1s ease-in-out
        span
          font-size: 1.3rem
      span
        color: grey-lighten-5
        font-size: 1.1rem
        font-weight: bold

  // Logo
  a.brand-logo
    img
      width: 180px
      padding-top: 14px
      margin-right: 20px
  
  // Navitaion tabs 
  ul.navigation-tabs
    height: 100%
    
    li
      height: 100%
      
      a
        height: 100%
        &:hover
          border-bottom: 3px solid white
          background-color: black

@media only screen and (max-width : 768px)
  // Drops navigation tabs on the right 
  ul.navigation-tabs
    display: none

@media only screen and (max-width : 480px)
  // Drop brand-logo on the center
  nav > a.brand-logo
    display: none
    
@media only screen and (min-width : 769px)
  // Drops mobile buttons
  ul.mobile
    display: none

@media only screen and (min-width : 480px)
  // Drops brand logo on the right
  ul.mobile
    a.brand-logo
      display: none