@require 'nib'

@import '../../../../styles/parts/variables'

// Page footer
footer.page-footer
  display: flex
  flex-direction: row
  justify-content: flex-start
  padding: 16px
  background-color: grey-darken-4
  color: grey-lighten-5
  
  // Information badges
  span
    padding: 8px
    background-color: black
    color: grey-lighten-4
    border-radius: 3px
    margin-right: 4px
     
    b
      background-color: grey-lighten-4
      color: black
      padding: 3px
      border-radius: 2px 
  
  // Copyrights Information
  span.copyrights
    margin-left: auto
    background-color: transparent
    border-radius: none
    margin-right: none

@media only screen and (max-width : 768px)
  // Drops page footer's copyrights information
  footer.page-footer span.copyrights
    display: none
