@require 'nib'

@import '../../../../../styles/parts/variables'

.users
    
  ul.collection
    overflow-x: hidden
    overflow-y: scroll
    border: none
    border-radius: 5px
    height: 60vh
    background-color: bule-grey-darken-3
    
    // User details
    li
      height: 46px
      color: grey-lighten-5
      display: inline-block
      width: 100%
      border-bottom: 1px solid black
      background-color: bule-grey-darken-4
      padding: 0
      
      &:hover
        background-color: blue-grey
        transform: scale(1.08)
      
      // User icon
      img
        width: 36px
        height: 36px
        margin: 5px 5px 5px 16px
        
        &:hover
          transform: scale(1.08)
          cursor: pointer
      
      // User name
      span
        position: relative
        bottom: 16px
      
      // User position
      a.secondary-content
        margin-top: 10px
        margin-right: 12px
        color: teal

// Hide scrollbar with still enable scrolling
::-webkit-scrollbar
    width: 0px
    background: transparent