.users.hoverable
  //- Users Area
  ul.collection

    //- User Details
    li(*ngFor="let user of users").collection-item.waves-effect
      img.circle.hoverable(src="{{user.icon}}" alt="No avatar")
      span.title {{user.name}}
      a.secondary-content(href="#!")
        i.material-icons {{users.score}}
