@import '../../../../variables';

.card {
  background-color: $blue-grey-darken-4;
  color: $blue-grey-lighten-5;
  
  .card-title.activator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .username, .score {
      height: 48px;
      line-height: 48px;
    }

    .username {
      text-transform: uppercase;
      margin-right: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: auto;
      width: 120px;
      max-width: 120px;
      max-height: 64px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .score {
      margin-right: 6px;
      color: $dark-gold;
    }

    .rank img {
      width: 48px;
      height: 48px;
    }
  }
  
  form.card-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue-grey-darken-3;
    margin: 0;
    button {
      margin-top: 8px;
      background-color: $grey-darken-4;
    }
  }

  .card-reveal {
    color: $blue-grey-lighten-5;
    background-color: $blue-grey-darken-4;
    
    form .file-field.input-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        background-color: $grey-darken-4;
      }
    }
  }

  .card-image {
    img.activator {
      width: 320px;
      height: 320px;
    }
  }
}

label {
    &:after {
      transition-property: all;
      font-size: 0.8rem;
      transform: none;
    &:not(.active):after {
      transform: translateY(-140%);
    }
  }
}
