@import '../../../variables';

footer.page-footer {
  padding: 16px;
  background-color: $grey-darken-4;
  color: $grey-lighten-5;
  
  .copyrights {
    width: 100%;
    text-align: center;
    b {
      padding: 3px;
      border-radius: 3px;
      background-color: black;
      color: $grey-lighten-5;
    }
  }
}
